In [16]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('sqlite:///../market_data.db')

df = pd.read_sql('SELECT * FROM market_data_table ORDER BY timestamp DESC', engine)

df.head(10)

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,ema
0,2024-12-04 16:23:00,95137.93000000,95183.16000000,95056.01000000,95056.02000000,45.89978000,1733329439999,4366055.28918280,8494,27.99553000,2662755.05105270,0,95056.020000
1,2024-12-04 16:24:00,95056.01000000,95058.64000000,94906.76000000,94947.67000000,90.56275000,1733329499999,8601981.17058690,13682,18.39304000,1746678.62066840,0,95036.320000
2,2024-12-04 16:25:00,94947.67000000,94964.76000000,94860.00000000,94929.99000000,73.09909000,1733329559999,6937353.34133860,10368,28.37050000,2692159.56719650,0,95016.987273
3,2024-12-04 16:26:00,94930.00000000,95067.11000000,94893.35000000,95067.10000000,89.57420000,1733329619999,8506349.34664660,11035,48.97761000,4651006.10985390,0,95026.098678
4,2024-12-04 16:27:00,95067.11000000,95104.71000000,94984.12000000,94984.13000000,55.55090000,1733329679999,5280347.89362160,7112,18.43530000,1752143.00984290,0,95018.468009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15897,2024-12-05 22:14:00,98608.00000000,98632.00000000,98501.99000000,98535.32000000,16.85176000,1733436899999,1660760.68245840,3883,8.70106000,857457.74435510,0,98693.218219
15898,2024-12-05 22:15:00,98535.32000000,98683.09000000,98486.34000000,98679.06000000,27.77983000,1733436959999,2738061.64283970,6405,15.67299000,1544703.96276860,0,98690.643998
15899,2024-12-05 22:16:00,98679.06000000,98699.84000000,98604.22000000,98614.32000000,28.92556000,1733437019999,2853333.67590680,5830,12.00756000,1184429.47704470,0,98676.766907
15900,2024-12-05 22:17:00,98614.32000000,98634.79000000,98524.96000000,98524.96000000,27.59233000,1733437079999,2720065.31175430,5447,11.88640000,1171693.36213220,0,98649.165651
15901,2024-12-05 22:18:00,98524.95000000,98524.96000000,98477.00000000,98477.01000000,5.69512000,1733437139999,560984.80730210,1235,0.80509000,79307.83372860,0,98617.864624